@page "/userLogin"
@inject NavigationManager Navigation

<h3 style="color: #000000; background-color: #b0c4de; padding: 10px; text-align: center; display: block; width: 100%;">化療病床預約平台</h3>

<h4 style="text-align: center;">Step 1：登入資料</h4>
<br />

<div style="display: flex; flex-direction: column; align-items: center;">
    <div class="form-group">
        <label>身分證字號</label>
        <input @bind="IdNumber" />
    </div>
    <br />

    <div class="form-group">
        <label>姓名</label>
        <input @bind="FullName" />
    </div>
    <br />

    <div class="form-group">
        <label>聯絡電話</label>
        <input @bind="ContactNumber" />
    </div>
    <br />

    <button @onclick="NextStep" style="background-color: #4169e1; color: white; border: 1px solid black;">下一步</button>

</div>

@code {
    private string IdNumber { get; set; } = string.Empty;
    private string FullName { get; set; } = string.Empty;
    private string ContactNumber { get; set; } = string.Empty;


    private void NextStep()
    {
        // 導航至 Scale 頁面
        Navigation.NavigateTo("/scale");
    }
}
